* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.form-container{
  width: 320px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 5px;
}

.form-container input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: black;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.2);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input:focus {
  outline: none;
}

input::placeholder{
  color: black;
}

.form-container button{
  padding: 8px 25px;
  align-self: center;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 17px;
  border-radius: 10px;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}